       .divclass{
            display: flex;
             flex-direction: column;
             background-color: white;
        }

   .clase2{
         font-family: Montserrat;
         font-size: 30px;
         margin-top: 40px;



        
       } 
.control{
    width: 20rem;
    height: 10rem;
}
       
 @media (max-width: 600px ) {
       .carNegra {
           display: flex;
           flex-direction: column;
            margin: 0;
            }
       .control {
           /* display: none; */
           display: block;
           font-size: 5px;
           color: pink;
       }
       .carrusel{
           display: none;
          

       }
       .clase2{
           font-size: 20px; 
           color: pink;
          
           margin-top: 50px;
       }
   } 
