.imagenes{

}
    @media (min-width: 400px){
        .divclass{
            display: flex;
             flex-direction: column;
             background-color: pink;
        }
    }
        
       
    
    
