.imagenes{
height: 13rem;

}

@media(max-width:360px){
    .lola{
        color: black;
        font-family: Montserrat;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 300px;
        width: 200px;
    }
    .imagenes{
        align-items: center;
    }
}